@model JsonCMS.Models.JsonFileViewModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


@using (Html.BeginForm(
    "Upload", "JsonFile",
    new { id = 1 },
    FormMethod.Post,
    new { enctype = "multipart/form-data", id = "uploadform", name = "uploadform" }))
{
    <div class="form-group">
        <label for="file">Filename:</label>
        <input type="file" name="file" />
        <input type="submit" value="Next »" class="btn btn-primary btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
